@import "../../assets/styles/vars.scss";
@import "../../assets/styles/mixins.sass";

.panel {
  margin-bottom: 12px;
  padding-top: 12px;

  @include xxs {
    margin-bottom: 18px;
  }
}

.panel__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include xxs {
    flex-wrap: wrap;
    gap: 12px;
  }
}
