@import "../../assets/styles/vars.scss";
@import "../../assets/styles/mixins.sass";

.filter {
  margin-bottom: 12px;

  @include xs {
    margin-right: -20px;
  }

  @include xxs {
    margin-right: -10px;
  }
}

.filter__wrapper {
  overflow-x: auto;

  //===== HIDE SCROLLBAR

  // hide scrollbar in Firefox
  scrollbar-width: none;

  // hide scrollbar in Chrome, Safari
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    width: 0;
    height: 0;
  }
}

.filter__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
