@import "../../assets/styles/vars.scss";
@import "../../assets/styles/mixins.sass";

.filter {
  margin-bottom: 12px;

  @include xxs {
    margin-bottom: 18px;
  }
}

.container {
  width: 100%;
  max-width: 1520px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 40px;

  @include xs {
    padding: 0 0 0 20px;
  }

  @include xxs {
    padding: 0 0 0 10px;
  }
}

.filter__wrapper {
  overflow-x: auto;

  //===== HIDE SCROLLBAR

  // hide scrollbar in Firefox
  scrollbar-width: none;

  // hide scrollbar in Chrome, Safari
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    width: 0;
    height: 0;
  }
}

.filter__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
