@font-face {
  font-family: "Order Pizza";
  src: url("../fonts/OrderPizza.woff2") format("woff2"),
    url("../fonts/OrderPizza.woff") format("woff"),
    url("../fonts/OrderPizza.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
