:root {
  --green_body: #f6fadd;
  --green_dark: #303e27;
  --green_dark_hover: #222c1b;
  --green_deep: #658361;
  --green_light: #d0dd97;
  --green_light_hover: #b4bb72;
  --green_yellow: #e7eaa8;
  --yellow_deep: #f9de79;
  --yellow_deep_hover: #f7d558;
  --white: #f8fae4;
  --red_deep: #a61403;

  // fonts
  --font_logo: "Order Pizza", sans-serif;
  --font_nunito: "Nunito Sans", Arial, Helvetica, sans-serif;
}
